/* Sidebar */
.sidebar {
  height: 100%;
  width: 360px;
  background: var(--sidebar-bg);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  color: #7e3e3b;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}



.logo {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
  font-family: "Staatliches", serif;
  font-size: 40px;
  letter-spacing: 1px;
}

.sidebar nav a {
  display: block;
  padding: 12px 16px;
  margin-bottom: 4px;
  border-radius: var(--radius);
  color: var(--text-light);
  text-decoration: none;
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  font-weight: bold;
  transition: var(--transition);
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: var(--sidebar-hover);
  color: white;
}


/* User box */
.user-box {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.user-name {
  padding: 12px;
  cursor: pointer;
  border-radius: var(--radius);
  transition: var(--transition);
}

.user-name:hover {
  color: white;
  background: var(--sidebar-hover);
}

.user-options {
  display: none;
  position: absolute;
  top: -50px;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: var(--radius);
  margin-top: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: .3s
}

.user-box:hover .user-options {
  display: block;
}

.logout {
  font-weight: bold;
  padding: 10px 20px;
}

.logout:hover {
  color: white;
  background: #ff6464;
}
