/* ====== RESET E ESTILOS GERAIS ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Slab';
}

body {
  overflow: hidden;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 160px);
  padding: 0;
}

/* formulário de registro */
.register-container {
  background-color: #fffbfb;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.register-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #42201E;
  font-weight: 600;
}

/* inputs */
.input-group {
  position: relative;
  margin-bottom: 25px;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 20px 15px 10px;
  border: 1px solid #8E5250;
  border-radius: 2px;
  background: #fafafa;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-group label {
  position: absolute;
  top: -6px; /* antes era -10px → agora mais alinhado com a linha */
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 16px;
  color: #42201E;
  font-weight: bold;
}

.input-group input::placeholder {
  color: #999;
}

.input-group:focus-within input {
  border-color: #8B4D45;
  outline: none;
  background-color: #fff;
}

/* botão de registro */
.btn-register {
  background-color: #7E3E3B;
  color: #fff;
  padding: 18px 20px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #713936;
}

/* link de login */
.login-link {
  font-size: 16px;
  margin-top: 20px;
}

.login-link a {
  color: #7E3E3B;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
