
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text-dark);
}


.layout {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text-dark);
}

.main {
  flex: 1;
  padding: 20px 30px;
  overflow-y: auto;
}