:host {
  --cor-marrom-escuro: #7E3E3B; /* #713936, #42201E */
  --cor-texto: #7E3E3B;            
  --font-logo: 'Staatliches', serif;
  --font-body: 'Josefin Slab', serif;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 360px);
  padding: 20px 3%;
  position: relative;
  box-sizing: border-box;
}

.hero-content {
  max-width: 650px;
  z-index: 2;
}

.hero-content h1 {
  font-family: var(--font-logo);
  font-size: 4rem;
  font-weight: 100;
  color: #42201E;
  line-height: 1.2;
  margin-block: 0 20px;
}

.hero-content p {
  font-family: var(--font-body);
  font-size: 1.1rem;
  color: var(--cor-texto);
  margin-bottom: 30px;
  max-width: 460px;
}

/* botão de registro */
.hero-content .cta-button {
  display: inline-block;
  background-color: var(--cor-marrom-escuro);
  color: #ffffff;
  padding: 12px 30px;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero-content .cta-button:hover {
  background-color: #713936;
}

/* estilo ícones sociais */
.social-icons {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.social-icons svg {
  width: 36px;
  height: 36px;
  fill: #7E3E3B;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  opacity: 0.7;
}

/* lado esquerdo: imagem */
.services-container-section {
  display: flex;
  gap: 50px;
  padding: 100px 4%; 
  overflow: hidden; 
}

.image-services-box {
  position: relative;
  flex: 1.3; 
  max-width: 600px;
  margin: 30px; 
}

.image-services-box img {
  width: 100%;
  display: block;
  position: relative; /* precisa do position para o quadrado marrom fica atras da imagem */
  z-index: 2;
}

/* sombra/quadrado maior atrás */
.image-background-shadow {
  position: absolute; 
  bottom: 36px;
  left: 36px;
  width: 100%;
  height: 100%;
  background-color: var(--cor-marrom-escuro);
  z-index: 1;
}

/* quadrados decorativos (pequenos) */
.image-services-box .square {
  position: absolute; 
  background-color: #42201E;
  width: 120px;
  height: 120px;
  z-index: 3;
}

.image-services-box .top-left {
  width: 18%;
  height: 12%;
  top: -60px;
  left: -26px;
}

.image-services-box .bottom-right {
  width: 30%;
  height: 20%;
  bottom: -50px;
  right: -80px;
}


/* lado direito: serviços */
.services-content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* titulo */
.services-content-box h1 {
  font-family: var(--font-body);
  font-size: 3rem;
  color: #42201E;
  margin-block: 0 30px; 
}

/* boxes */
.services-content-box .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

/* fundo box */
.services-content-box .card {
  background-color: #ffffff;
  padding: 25px;
  text-align: center;
  border: 1px solid #f0f0f0; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 350px;
}

.services-content-box .card:hover {
  transform: translateY(-2px) scale(1.01); 
  box-shadow: 0 8px 20px rgba(24, 17, 17, 0.15);
}

.services-content-box .icon-scissors {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}

.services-content-box .card p {
  font-family: var(--font-body);
  font-size: 0.95rem;
  color: var(--cor-texto);
  line-height: 1.2;
  margin: 0;
}

/* botão "ver mais" */
.services-content-box .cta-button {
  display: inline-block;
  background-color: var(--cor-marrom-escuro);
  color: #ffffff;
  padding: 12px 30px;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  align-self: center;
  width: auto;
}

.services-content-box .cta-button:hover {
  background-color: #713636;
}

/* estilos sobre nós */
.about-container-section {
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  gap: 200px;
  padding: 100px 8%; 
  background-color: var(--cor-fundo-rosa-claro); 
  overflow: hidden; 
}

.about-content-box {
  max-width: 600px;
}

.about-content-box h2 {
  font-family: var(--font-body);
  font-size: 3rem;
  color: #42201E;
  margin-block: 0 30px;
  text-align: center;
}

.about-content-box p {
  font-family: var(--font-body);
  font-size: 1.4rem;
  color: var(--cor-texto);
  line-height: 1.4;
  margin-bottom: 25px;
}

/* imagem modelo */
.about-image-box {
  position: relative;
  max-width: 600px; /* tamanho/limite da imagem */
}

.about-image-box img {
  width: 100%;
  display: block;
  position: relative; 
  z-index: 2;
}

.about-image-box .top-left {
  position: absolute;
  background-color: var(--cor-marrom-escuro);
  width: 54%; /* largura do quadrado superior */
  height: 60%; /* altura do quadrado superior */
  top: -40px;
  left: -40px;
  z-index: 1;
}

.about-image-box .bottom-right {
  position: absolute;
  background-color: var(--cor-marrom-escuro);
  width: 54%;
  height: 60%;
  bottom: -40px;
  right: -40px;
  z-index: 1;
}