/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos do body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f6e2e2;
  color: #333;
  overflow: hidden; /* Impede rolagem na página */
  height: 100vh; /* Garantir que a altura ocupe 100% da tela */
}

/* Container principal */
main {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: flex-start; /* Alinha o conteúdo ao topo, abaixo do header */
  height: calc(100vh - 154px); /* Garante que a altura do main ocupe a tela, subtraindo a altura do header */
  width: 100%; /* Garante que a largura ocupe 100% da tela */
  padding-top: 100px; 
}

/* Estilos do formulário de login */
.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Largura máxima do container */
  text-align: center;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #8B4D45;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #8B4D45;
}

.login-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-container input::placeholder {
  color: #aaa;
}

.btn-login {
  background-color: #8B4D45;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.btn-login:hover {
  background-color: #7c3c30;
}

.registro {
  font-size: 14px;
}

.registro a {
  color: #8B4D45;
  text-decoration: none;
}

.registro a:hover {
  text-decoration: underline;
}
