:host {
  --primary-color: #7E3E3B;
  --primary-text: #ffffff;
  --active-bg: rgba(59, 36, 36, 0.2); 
}

/* O container principal (a barra escura) */
.time-slots-container {
  display: flex;
  flex-wrap: wrap; /* se tiver muitos horários, eles quebram a linha */
  gap: 15px;
  background-color: var(--primary-color);
  color: var(--primary-text);
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

/* cada item de horário individual */
.time-slot {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
}

.time-slot:hover {
  background-color: var(--active-bg);
}

.time-slot.active {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}