@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Josefin+Slab:wght@300;400;600&display=swap');

:root {
    /*admin*/
    --bg: #ffd9d7;
    --sidebar-bg: #ffffff;
    --sidebar-hover: #7e3e3b;
    --primary: #7e3e3b;
    --primary-hover: #713936;
    --card-bg: #ffffff;
    --text-dark: #1f2937;
    --text-light: #7e3e3bb2;
    --radius: 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Slab';
}

html {
    background-color: #fefcfc; 
    background-image: linear-gradient(to bottom,#FFFFFF,#FEC7C5 20%);
    min-height: 100vh;
    background-repeat: no-repeat;
    font-size: 18px;
    scroll-behavior: smooth;
}
